
/*body {*/
  /*max-width: 80%;*/
    /*margin: auto;*/

/*}*/


hr {
    padding-bottom: 20px;
}


li {
    list-style-type: none;
    padding-bottom: 10px;
}

h1 small {
    font-size: 20px;
    color: #919191;

}

.sub-head {

    color: #71331F;
}

.menuItems {
    font-size: 40px;
    color: #71331F;

}

body {

    background-image: url("img/seamless_paper_texture.png");
}

li small {
    margin-left: 5px;
}

#headerText {
    font-family: 'Lobster', cursive;
    color: blanchedalmond;
    font-size: 75px;
    font-weight: bold;
    vertical-align: middle;

    text-align: center;
    padding-top: 20px;
    text-shadow:  3px 3px #301E19;
}

#header {
    background-image: url("img/coffee_beans.png");
    height: 150px;
    margin-bottom: 35px;


}

button {

    background-color: #5D4A44 !important;
    color: blanchedalmond !important;
}

#main {
    font-family:"Questrial", sans-serif;
}

a:link {
    color: #2B120E;

}

/* visited link */
a:visited {
    color: #2B120E;
}

/* mouse over link */
a:hover {
    color: blanchedalmond;
}

/* selected link */
a:active {
    color: blanchedalmond;
}

.nav-item, a {
    background-color: #7C5D58 !important;
    border: #301E19 1px solid;

}